.container {
    width: 100%;
    height:100%;
}

.container .Pages {
    display: flex;
    justify-content: flex-end;
}

.container .Home {
    font-size: 2.2vh;
    float: left;
}

.container a{
    color: rgb(235, 234, 224);
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 1.8vh;
}