.photoGallery {
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #091621;
    color: antiquewhite;
}

.photoGallery .gallery{
    height: 75vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: antiquewhite;
}

.photoGallery .imageList{
    width: 85vw;
    height: calc(75vh - 5vw);
    margin: 2.5vw;
    margin-top: 2.5vw;
}

.photoGallery h1{
    font-size: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color:antiquewhite;
    margin-bottom: 15px;
}